<div class="hacktober text-center">
  <div class="container">
    <h2 class="text-uppercase font-weight-bold">upcoming meetup</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="meetup">
          <img src="assets/img/hack.jpg">
        </div>
      </div>
      <!-- <div class="col-md-7">
        <div class="hack-banner">
          <img src="assets/img/hack.jpeg">
        </div>
      </div>
      <div class="col-md-5">
        <div class="hack-content">
          <p class="content">TechTalks is going to organise a meetup based on hacktoberfest with digital ocean.</p>
          <p class="date">October 13, 2018</p>
        </div>
      </div> -->
    </div>
  </div>
</div>