<div class="team">
  <h2 class="text-uppercase font-weight-bold text-center">the team</h2>

  <ul class="d-sm-none d-md-none d-lg-block">

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">shrreya behll</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">manas kashyap</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">amit</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">apoorva</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">arpit</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h4 class="name text-uppercase font-weight-bold">shubham</h4>
      </div>
    </li>

  </ul>

  
  <div class="slider carousel-wrapper d-lg-none d-xl-none">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active i1">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">shrreya behll</h5>
                  </div>
                </div>
                <div class="carousel-item i2">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">manas</h5>
                  </div>
                </div>    
                <div class="carousel-item i3">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">amit</h5>
                  </div>
                </div>    
                <div class="carousel-item i4">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">apoorva</h5>
                  </div>
                </div>    
                <div class="carousel-item i5">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">arpit</h5>
                  </div>
                </div>    
                <div class="carousel-item i6">
                  <div class="content1 text-center">
                    <h5 class="name text-uppercase font-weight-bold">shubham</h5>
                  </div>
                </div>    
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>            
          </div>
        </div>
      </div>
    </div>
    
</div>